<h2 class='pull-left'>Admin page<h2>

<ul class="nav nav-pills navbar-right">
  <li class="nav-item <%= active_page(samurai.destroy_user_session_path) %>">
    <%= link_to  "Admin", admin_path %>
  </li>
</ul>

<div class='clearfix'></div>
<hr>

<div class='row'>
  <div class='col-md-6'>
    <!-- show last changes of each models -->
  </div>
</div>